.body{
    background-color: #fff;
}
.jumbotron {
	background:#6ECCC4;
	color:#fff;
	padding:20px 0;
}
.navbar {
        
	margin-bottom: 0;
	font-family: 'Poiret One', cursive;
}

.navbar .navbar-header{
    
   
}

.container{
	font-family: 'Poiret One', cursive;
       
}
#nav1{
     background-color: 457F7A;
}

p.for{
    font-family: 'Raleway', sans-serif;
}

h1{
    font-family: 'Poiret One', cursive;
}